extends layout

block extrahead
  script(src="javascripts/overview_script.js", type="text/javascript")
  link(rel="stylesheet" href="/stylesheets/overview_style.css")

block content
  div.main-container
    div.row
      div.col-md-6.col-xs-12
        div.row
          div.col-12
            div.det_card(style='width: 100%; height: 100%;')
              span.fontscale Welcome #{display_name} to the XeBRA control interface.
        br
        div.row
          div.col-12
            div.det_card(style='width: 100%; height: auto;')
              table.table-bordered
                thead
                  tr
                    th  
                    th Status
                    th Goal
                    th Message
                tbody
                  tr
                    th DAQ
                    td#daqstatus
                    td#daqgoal
                    td#daqmsg
                  tr
                    th Dispatcher
                    td#spatchstatus
                    td 
                    td#spatchmsg
                  tr
                    th Straxinator
                    td#straxstatus
                    td 
                    td#straxmsg
                  tr
                    th Pulser
                    td#ledstatus
                    td 
                    td 
        br
        div.row
          div.col-12
            div.det_card
              h5
                span &nbsp;&nbsp;
                span(style='font-size:14px;color:#333333;') The reader is &nbsp;
                 strong#status
              p
                span#rate(style='font-size:40px')
                strong &nbsp; MB/s
              p(style='font-size:10px')
                span Run &nbsp;
                strong#run_number
                span &nbsp; in &nbsp;
                strong#mode
                span &nbsp; mode &nbsp;
      div.col-md-6.col-xs-12
        div.det_card_noheight
          strong Run History &nbsp;&nbsp;
          .btn-group#pie_button(role='group')
            input#option1.btn-check(type='radio' name='btnradio' autocomplete='off' value=10)
            label.btn.btn-outline-secondary(for='option1') 10 days
            input#option2.btn-check(type='radio' name='btnradio' autocomplete='off' value=30 checked='')
            label.btn.btn-outline-secondary(for='option2') 30 days
            input#option3.btn-check(type='radio' name='btnradio' autocomplete='off' value=90)
            label.btn.btn-outline-secondary(for='option3') 90 days
          div#pie_box
    br
    div.row
      div.col-12
        div.fullsizechart.det_card_noheight
          div.chart_header(style='font-size:12px')
            strong(style='font-size:22px') Status History &nbsp;&nbsp;
            strong(style='font-size:12px') Time: &nbsp;
            select#menu_history_s(style="width:100px")
              option(value=172800) 48h
              option(value=129600) 36h
              option(value=86400 selected) 24h
              option(value=43200) 12h
              option(value=21600) 6h
              option(value=3600) 1h
            strong(style='font-size:12px') &nbsp;&nbsp; Resolution: &nbsp;
            select#menu_resolution_s(style="width:100px")
              option(value=10) 10s
              option(value=30) 30s
              option(value=60 selected) 1m
              option(value=300) 5m
              option(value=600) 10m
            span &nbsp;&nbsp;
            button.btn.btn-info#update_button(style="height:80%;padding-top:3px" onclick="DrawRatePlot()") Update
          div.chart_body#rate_chart(style="height:300px")

  script.
    $(document).ready(function(){
      DrawActiveLink("#lindex");
      DrawPie("pie_box", 30);
      DrawRatePlot();
      $("#pie_button :input").change(function() {
         DrawPie("pie_box", $(this).val());
      });
    });
